<body>
  <main>
    <p class="green-text"><%= notice %></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <%= render 'books/left', user: current_user %>
        <%= render 'books/right', books: @books %>
      </div>
    </div>
  </main>
</body>
